name: Upload Localizations to LingoHub

on:
  workflow_dispatch:
  push:
    branches:
      - "release/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  upload:
    name: Upload Localizations to LingoHub
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v3
      - name: Export Localizations
        run: set -o pipefail && xcodebuild -exportLocalizations -localizationPath ./ -exportLanguage en -project AURORA.xcodeproj -scheme AURORA -derivedDataPath ./build | xcpretty
      - name: Install LingoHub CLI
        run: gem install lingohub
      - name: Login to LingoHub
        run: mkdir ~/.lingohub/ && echo "$LINGO_HUB_CREDENTIALS" >> ~/.lingohub/credentials
        shell: bash
        env:
          LINGO_HUB_CREDENTIALS: ${{ secrets.LINGO_HUB_CREDENTIALS }}
      - name: Upload Localizations to LingoHub
        run: lingohub resource:up './en.xcloc/Localized Contents/en.xliff' --locale en --project AURORA-iOS
