name: Upload to TestFlight

on:
  workflow_dispatch:
  push:
    branches:
      - "release/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_app:
    name: Build App
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v3
      - name: Cache build files
        uses: actions/cache@v3
        with:
          path: build
          key: ${{ runner.os }}-spm-${{ hashFiles('AURORA.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - name: Build App
        run: fastlane build_app_lane
        env:
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_PRIVATE_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_PRIVATE_KEY }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 120
      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ipa
          path: app.ipa
      - name: Upload Debug Symbols Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dSYM
          path: app.app.dSYM.zip
      - name: Upload Firebase Crashlytics Binary Artifact
        uses: actions/upload-artifact@v4
        with:
          name: upload-symbols-binary
          path: build/SourcePackages/checkouts/firebase-ios-sdk/Crashlytics/upload-symbols
  upload_to_test_flight:
    name: Upload to TestFlight
    runs-on: macos-26
    needs: build_app
    steps:
      - uses: actions/checkout@v3
      - name: Download IPA Artifact
        uses: actions/download-artifact@v4
        with:
          name: ipa
      - name: Upload to TestFlight
        run: fastlane upload_to_test_flight_lane
        env:
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_PRIVATE_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_PRIVATE_KEY }}
  upload_debug_symbols:
    name: Upload Debug Symbols to Firebase Crashlytics
    runs-on: macos-26
    needs: build_app
    steps:
      - uses: actions/checkout@v3
      - name: Download Debug Symbols Artifacts
        uses: actions/download-artifact@v4
        with:
          name: dSYM
      - name: Download Firebase Crashlytics Binary Artifact
        uses: actions/download-artifact@v4
        with:
          name: upload-symbols-binary
      - name: Make upload-symbols binary executable
        run: chmod +x upload-symbols
      - name: Upload Debug Symbols to Firebase Crashlytics
        run: fastlane upload_debug_symbols_to_crashlytics_lane
